.menuIconBtn {
    font-size: 19px;
    cursor: pointer;
    padding: 9px 27px;
    display: block;
    box-shadow: none;
    background-color: transparent;
    border: none !important;
}

.menuIconBtn:hover {
    background-color: #E0E0E0;
}

.menuIconBtn:active {
    background-color: #E0E0E0;
}

.activeSection, .activeSection:hover{
    background-color: #EEEEEE;
}

.menuIconLabel {
    font-size: 13px;
    margin-left: 15px;
    vertical-align: text-top;
    font-weight: 700;
    line-height: 22px;
    color: rgba(0,0,0,.6);
}

.submenuButton {
    cursor: pointer;
    font-size: 13px;
    padding: 9px 27px 9px 64px;
    vertical-align: text-top;
    font-weight: 700;
    line-height: 22px;
    color: rgba(0,0,0,.6);
}

.submenuButton:hover {
    background-color: #E0E0E0;
}

.menuCollapsableAbierto{
    background-color: #F5F5F5;
}


/* Animate */
.submenu.ng-hide {
    /* transform: scale(0,0) */
    transform: translate3d(0,-10px,0);
    -webkit-transform: translate3d(0,-10px,0);
}

.submenu.ng-hide-add,
.submenu.ng-hide-remove {
    transition: all linear 0.2s;
}

.activeSection, .activeSection:hover{
    background-color: #EEEEEE;
}