.menuIconBtn {
    font-size: 19px;
    cursor: pointer;
    padding: 9px 27px;
    display: block;
    box-shadow: none;
    background-color: transparent;
    border: none !important;
}

.menuIconBtn:hover {
    background-color: #E0E0E0;
}

.menuIconBtn:active {
    background-color: #E0E0E0;
}

.menuIconLabel {
    font-size: 13px;
    margin-left: 15px;
    vertical-align: text-top;
    font-weight: 700;
    line-height: 22px;
    color: rgba(0,0,0,.6);
}

.activeSection, .activeSection:hover{
    background-color: #EEEEEE;
}

.collapseIcon {
    line-height: 26px;
    font-size: 12px;
    float: right;
}