<!-- /* justify-content: center */ -->
<div class="loginOuter">
    <div class="loginMiddle">
        <div class="loginLogo">
            <img src="/img/logoMediano.png" >
            <div class="appName" style="font-size: 40px;">
                Coge tus seis!
            </div>
        </div>

        <div class="loginCard whiteFrameHard">
            <form name="loginForm" id="loginForm" ng-submit="login.ingresar(loginForm)" novalidate class="form-row">
                <!-- USUARIO -->
                <validation-input label="Usuario" field="username" ng-model="login.user.username" form="loginForm" error-list="login.errors"></validation-input>
                <!-- PASSWORD -->
                <br>
                <validation-input label="Contraseña" field="password" type="password" ng-model="login.user.password" form="loginForm"></validation-input>
                <br>
                <!-- <br>
                <validation-input label="Grupo radio button" field="prueba" type="radio" ng-model="login.radio" options="login.col"></validation-input>
                <br>
                <validation-input label="Grupo CHECKBOX" field="prueba2" type="checkbox" ng-model="login.check" options="login.col" 
                    error-list="login.errors" form="loginForm"></validation-input> -->
                <button class="btn btn-primario loginButton" type="submit">Iniciar sesión</button>
            </form>
        </div>
    </div>
</div>