
<div class="notificationItem" ng-class="{'notReaded' : !ctrl.readed}">

        <div class="notificationIcon" ng-class="{'error' : ctrl.type == 'error', 'success' : ctrl.type == 'success'}">
            <i ng-class="{'ion-close' : ctrl.type == 'error', 'ion-checkmark' : ctrl.type == 'success'}"></i>
        </div>
    
        <div class="notificationContent">
            <span style="font-weight:700;">{{ctrl.from}}</span>
            <span>{{ctrl.title}}</span>
            <!-- <br> -->
            <div class="notificationDate">
                {{ctrl.date}}
            </div>
        </div>
    
    
    </div>