.cantidadNotificaciones {
    font-size: 11px;
    font-weight: 700;
    position: absolute;
    top: 11px;
    margin-left: 9px;
    background-color: #FB8C00;
    border-radius: 50%;
    width: 20px;
    height: 19px;
    line-height: 19px;
}

#headerNotificationsIcon { display: initial; }

#headerResNotificationsIcon { display: none; }

@media only screen and (max-width: 960px){
    #headerNotificationsIcon { display: none; }
    
    #headerResNotificationsIcon { display: initial; }
}
