<div id="headerCenter">
    <div class="titulo layout-gt-sm">
        <img src="/img/logoInvertSmall.png" style="vertical-align: unset;">
        <span class="appName">
            {{appCtl.nombreAplicacion}} - {{appCtl.nombreEmpresa}}</span>
    </div>
    <div class="titulo layout-sm appName"> {{appCtl.nombreAplicacion}}
    </div>

    
</div>
<div id="headerRight">
    <div id="headerNotificationsIcon" class="iconBtn white" ng-click="adminHeader.toggleNotification($event)" tooltip-placement="bottom" uib-tooltip="Notificaciones" tooltip-popup-delay='1000'>
        <i ng-class="{'ion-android-notifications-none' : adminHeader.notificacionesModel.nuevas == 0, 'ion-android-notifications' : adminHeader.notificacionesModel.nuevas > 0}"></i>
        <div class="cantidadNotificaciones" ng-show="adminHeader.notificacionesModel.nuevas > 0">
            {{adminHeader.notificacionesModel.nuevas}}
        </div>
    </div>
    <br>
    <div class="btn-group" uib-dropdown is-open="adminHeader.status.isopen" dropdown-append-to="adminHeader.appendTo">
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <notification-menu notificaciones="adminHeader.notificacionesModel.notificaciones" ver-todas="adminHeader.verTodasNotificaciones()"></notification-menu>
        </ul>
    </div>

    <!-- Responsive -->
    <div id="headerResNotificationsIcon" class="iconBtn white" ng-click="appCtl.toggelResNotifications()">
        <i ng-class="{'ion-android-notifications-none' : adminHeader.notificacionesModel.nuevas == 0, 'ion-android-notifications' : adminHeader.notificacionesModel.nuevas > 0}"></i>
        <div class="cantidadNotificaciones" ng-show="adminHeader.notificacionesModel.nuevas > 0">
            {{adminHeader.notificacionesModel.nuevas}}
        </div>
    </div>
</div>