<div class="sidebarContainer">
    <!-- Boton normal -->
    <menu-button label="Dashboard" ng-click="adminSidebar.navegar('dashboard')" icon="ion-pinpoint" active="adminSidebar.menuModel.menu.dashboard.active"></menu-button>
    <menu-button label="Alquilar" ng-click="adminSidebar.navegar('alquiler')" icon="ion-pricetag" active="adminSidebar.menuModel.menu.alquiler.active"></menu-button>
    <!-- Boton collapsable -->
    <collapsable-menu-button label="Complejo" icon="ion-ios-football" options="adminSidebar.menuModel.complejoDeportivo"></collapsable-menu-button>
    <menu-button label="Puntos" ng-click="adminSidebar.navegar('puntos')" icon="ion-disc" active="adminSidebar.menuModel.menu.puntos.active"></menu-button>
    <menu-button label="Notificaciones" ng-click="adminSidebar.navegar('notificaciones')" icon="ion-android-notifications" active="adminSidebar.menuModel.menu.notificaciones.active"></menu-button>
    <menu-button label="Cuenta" ng-click="adminSidebar.navegar('cuenta')" icon="ion-android-happy" active="adminSidebar.menuModel.menu.cuenta.active"></menu-button>
    <menu-button label="Pagos" ng-click="adminSidebar.navegar('pagos')" icon="ion-cash" active="adminSidebar.menuModel.menu.pagos.active"></menu-button>
    <menu-button label="Usuarios" ng-click="adminSidebar.navegar('usuarios')" icon="ion-ios-people" active="adminSidebar.menuModel.menu.usuarios.active"></menu-button>
</div>