.loginCard{
    width: 400px;
    margin: auto;
    background-color: white;
    padding: 30px;
}

.loginOuter {
    display: table;
    position: absolute;
    height: 100%; 
    width: 100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

    background-image: url('/img/fondoLogin.jpg')

}

.loginMiddle {
    display: table-cell; 
    vertical-align: middle;
}

.loginLogo {
    text-align: center
}

.loginButton {
    margin-top: 15px;
    margin-left: 233px;
}

/* Este tamanio o menor */
/* layout-gt-xs	width >= 600px */
@media only screen and (max-width: 600px){
    .loginCard{
        width: 100%;
        margin: 0px;
        box-shadow: none;
    }
    .cardSize{
        margin: 0px;
        box-shadow: none;
    }

    .loginOuter{
        background-color: white !important;
        background-image: none !important;
    }

    .loginMiddle {
        padding-top: 10px;
        vertical-align: top !important;
    }
    
    .loginButton {
        float: right;
        margin-left: 0px;
    }
}

.loginLogo {
    /* width: 400px; */
    margin: auto;
    /* background-color: white; */
    padding: 10px;
}
