<!-- PARA TEXT -->
<div ng-if="ctrl.type != 'radio' && ctrl.type != 'checkbox'">
    <label class="validation-label" ng-show="ctrl.ngModel">{{ctrl.label}}</label>
    <label class="validation-label" ng-hide="ctrl.ngModel">&nbsp;</label>
    <input required class="validation-input" name="{{ctrl.field}}" id="{{ctrl.field}}" type="{{ctrl.type}}" ng-model="ctrl.ngModel"
        ng-class="{'input-validation-error' : ctrl.getInvalid()}" placeholder="{{ctrl.label}}" ng-disabled="ctrl.disabled" ng-maxlength="{{ctrl.maxlength}}">
    <!-- Para required -->
    <small class="label-validation-error" ng-show="ctrl.showError('required')">{{ctrl.requiredMsg}}</small>
    <!-- Para errores personalizados -->
    <small ng-repeat="error in ctrl.errorList" class="label-validation-error" ng-show="ctrl.showError(error.tipo)">{{error.msg}}</small>
</div>
<!-- PARA RADIO -->
<div ng-show="ctrl.type == 'radio'">
    <div class="validation-group-title">
        <label>{{ctrl.label}}</label>
    </div>

    <div class="validation-radio-group" ng-repeat="val in ctrl.options">
        <div class="validation-radio-container">
            <input class="validation-input-radio" type="radio" ng-model="ctrl.ngModel" value="{{val.value}}" ng-disabled="ctrl.disabled">
            <span ng-if="!ctrl.disabled" class="validation-radio-label" ng-click="ctrl.ngModel = val.value" style="cursor: default;">
                {{val.label}}
            </span>
            <span ng-if="ctrl.disabled" class="validation-radio-label-disabled" style="cursor: default;">
                {{val.label}}
            </span>
        </div>
    </div>
</div>
<!-- PARA CHECKBOX -->
<div ng-show="ctrl.type == 'checkbox'">
    <div class="validation-group-title" ng-class="{'input-validation-error' : ctrl.getInvalid()}">
        <label>{{ctrl.label}}</label>

    </div>
    <!-- Para errores personalizados -->
    <div ng-repeat="error in ctrl.errorList">
        <small class="label-validation-error" ng-show="ctrl.showError(error.tipo)">{{error.msg}}</small>
        <br ng-show="ctrl.showError(error.tipo)">
    </div>


    <div class="validation-radio-group" ng-repeat="val in ctrl.options track by $index">
        <div class="validation-radio-container">
            <label >
                <input class="validation-input-radio" type="checkbox" name="{{ctrl.field}}" ng-model="ctrl.ngModel[val.value]"
                    ng-disabled="ctrl.disabled"/> 
                    <span class="validation-check-label" ng-class="{'validation-check-label-disabled' : ctrl.disabled}">
                            {{val.label}}
                    </span>
            </label>
            <br>
        </div>
    </div>

</div>