<div class="notificationsMenuContainer">
    <div ng-repeat="item in ctrl.notificaciones">
        <notification-menu-item type="{{item.type}}" from="{{item.from}}" title="{{item.title}}" date="{{item.fecha}}" ng-click="item.action()"
            readed="item.readed"></notification-menu-item>
    </div>
</div>
<div class="footNotificaciones" ng-click="ctrl.verTodas()">
    Ver todas
</div>