/* styles in src/style directory are applied to the whole page */
@import url("./root.css");

:root {
  
}

body {
  color: rgba(0,0,0,.7);
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

label {
  font-size: 14px;
}

.btn-primario {
  color: white;
  background-color: var(--primaryColor);
  border: none;
  box-shadow: var(--softBoxShadow);
}

.btn-primario:hover {
  border: none;
  color: white;
  background-color: var(--primaryColor);
  box-shadow: var(--hardBoxShadow);
}

.btn-primario:active {
  color: white;
  background-color: var(--primaryColor);
  border: none;
  outline: none;
}

.btn-primario:focus {
  color: white;
  background-color: var(--focusedColor);
  border: none;
  outline: none;
}
.btn-primario:active:focus {
  color: white;
  background-color: var(--focusedColor);
  border: none;
  outline: none;
}

#headerDiv {
  width: 100%;
  background-color: var(--primaryColor);
  height: var(--headerHeight);
  margin-bottom: 1px;
  box-shadow: var(--softBoxShadow);
  color: white;
}

#sideBarDiv {
  float: left;
  width: var(--sideBarWidth);
  height: var(--contentHeight);
  box-shadow: var(--softBoxShadow);
  overflow-y: auto;
  overflow-x: hidden;
}

#sideBarResDiv {
  width: 60%;
  /* height: 500px; */
  position: absolute;
  left: 0px;
  top: 58px;
  background-color: white;
  height: calc(1px + var(--contentHeight));
  z-index: 2;
  box-shadow: var(--softBoxShadow);
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}

#sideBarDiv { display: initial; }

.centerDiv {
  height: var(--contentHeight); 
  width: var(--contentWidth);
  overflow: auto;
  background-color: #F5F5F5;
}

#centerOverlay{
  position: fixed;
  /* display: none; */
  width: 100%;
  height: calc(1px + var(--contentHeight));
  background-color: rgba(0,0,0,.4);
  z-index: 1;
  margin-top: -1px;
}

#headerLeft {
  height: inherit;
  display: inline-block;
  width: var(--sideBarWidth);
  padding: 12px;
  vertical-align: text-top;
  /* background-color: blue; */
}

#headerCenter {
  height: inherit;
  display: inline-flex;
  padding-top: 2px;
  vertical-align: top;
  /* background-color: green; */
  text-align: center;
  width: calc(100vw - var(--sideBarWidth) - var(--headerRightWidth) - 10px);
}

#headerRight {
  height: inherit;
  float: right;
  padding: 10px;
  vertical-align: middle;
  width: var(--headerRightWidth);
  text-align: center;
  display: inline-flex;
  /* background-color: red; */
}

#headerLeft h4 {
  display: inline-block;
  cursor: pointer;
}

#headerLeft button {
  margin-top: 4px;
  float: right;
}

#toggleMenuBtn {
  display: initial;
}


#toggleResMenuBtn {
  display: none;
}

.titulo {
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.iconBtn {
  font-size: 24px;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 3px;
  padding: 0px 13px;
  display: inline-block;
}

.iconBtn :hover {
  color: rgb(230, 243, 253);
  z-index: 1;
}

.iconBtnTitle {
  font-size: 18px;
  display: inline-block;
  padding-top: 7px;
  cursor: pointer;
}

.white {
  color: white;
}

.whiteFrameSoft {
  background-color: white;
  box-shadow: var(--softBoxShadow);
  -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
}

.whiteFrameHard {
  background-color: white;
  box-shadow: var(--hardBoxShadow);
  -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
}

.appName {
  font-size: 38px;
  font-family: Amatic SC;
  font-weight: 700;
}

.sidebarContainer {
  background-color: #fafafa59;
  padding-top: 15px;
  padding-bottom: 15px;
}

#notifDropdownAppend { 
  position: absolute;
}

#notifDropdownAppend .dropdown-menu{
  position: relative;
  margin-left: -410px;
  margin-top: 16px;
  border-radius: 0%;
  border: none;
  padding: 0px;
  height: 500px;
}

#notificacionesResDiv{
  width: 70%;
  /* height: 500px; */
  position: absolute;
  right: 0px;
  top: 58px;
  background-color: white;
  height: calc(1px + var(--contentHeight));
  z-index: 3;
  box-shadow: var(--softBoxShadow);
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}

/* *********************
* Defino layouts    *
********************* */
.layout-xs { display: none; }

.layout-sm { display: none; }

.layout-gt-sm { display: none; }

/* Este tamanio o menor */
@media only screen and (max-width: 600px){
  /* *********************
  * Defino layouts    *
  ********************* */
  .layout-xs { display: initial; }

}

@media only screen and (min-width: 961px){
  .layout-gt-sm { display: initial; }
}

/* Este tamanio o menor */
@media only screen and (max-width: 960px){
  /* *********************
  * Defino layouts    *
  ********************* */
  .layout-sm { display: initial; }

  #toggleMenuBtn { display: none; }
  
  #toggleResMenuBtn { display: initial; }

  #sideBarDiv { display: none; }

  #sideBarResDiv { display: initial; }

  #notificacionesResDiv { display: initial; }

  #headerLeft { width: var(--sideBarWidth); vertical-align: initial; }

  #headerLeft button { float: left; }

  :root {
    --headerHeight: 58px;
    --contentHeight: calc(100vh - 59px);
    --sideBarWidth: 58px;
    --headerRightWidth: 70px;
  }

  .iconBtn {
    padding: 0px 13px;
  }

  #headerCenter { padding-top: 0px; }
}

/* Animate */
#sideBarDiv.ng-hide {
  transform: translate3d(-230px,0,0);
  -webkit-transform: translate3d(-230px,0,0);
}

#sideBarDiv.ng-hide-add,
#sideBarDiv.ng-hide-remove {
  transition: all linear 0.1s;
}

#sideBarResDiv.ng-hide {
  transform: translate3d(-230px,0,0);
  -webkit-transform: translate3d(-230px,0,0);
}

#sideBarResDiv.ng-hide-add,
#sideBarResDiv.ng-hide-remove {
  transition: all linear 0.1s;
}



