:root {
  --sideBarWidth: 230px;
  --headerHeight: 62px;
  --contentHeight: calc(100vh - 63px);
  --headerRightWidth: 115px;
  --contentWidth: calc(100vw - var(sideBarWidth));

  --softBoxShadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
  --hardBoxShadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  --primaryColor: #26A69A;
  --errorColor: #F44336;
  --successColor: #4CAF50;
  --focusedColor: #00897B;
  }