<div class="menuIconBtn" ng-click="ctrl.ngClick" ng-class="{'activeSection' : ctrl.active}">
    <i class="{{ctrl.icon}}"></i>
    <span class="menuIconLabel">
        {{ctrl.label}}
    </span>
    <span ng-show="ctrl.collapsable" class="collapseIcon">
        <i ng-class="{'ion-chevron-down' : ctrl.showSubmenu, 'ion-chevron-right' : !ctrl.showSubmenu}" ></i>
    </span>
</div>