@import url("../../../../style/root.css");

.validation-input {
    padding: 8px 8px 8px 2px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%;
    font-size: 13.5px;
}

.validation-group-title {
    border-bottom:1px solid #ccc;
    margin-bottom: 8px;
    padding-left: 1px;
}

.validation-input:focus {
    outline: none;
    border-color: var(--primaryColor);
}

.validation-input:disabled {
    background-color: transparent;
    border-bottom-style: dotted;
}

.validation-input:disabled::placeholder {
    color: rgba(0,0,0,0.26);
    font-weight: 600;
}

.input-validation-error {
    border-color: var(--errorColor);
}

.label-validation-error {
    color: var(--errorColor);
    float: right;
}

.validation-label {
    font-size: 12px;
    margin-left: 2px;
    margin-bottom: 0px;
}

.validation-input.ng-hide-add,
.validation-input.ng-hide-remove {
  transition: all linear 0.5s;
}

.validation-input.ng-hide {
    transform: translate3d(-20px,0,0);
    -webkit-transform: translate3d(-20px,0,0);
}

.validation-input-radio {
    margin-right: 6px !important;
}

.validation-radio-label {
    vertical-align: text-bottom;
}

.validation-radio-container {
    margin: 2px 0px;
}

.validation-radio-group {
    margin-left: 12px;
}

.validation-group-container {
    margin: 10px 0px;
}

.validation-radio-label-disabled {
    vertical-align: text-bottom;
    color: rgba(0,0,0,0.26);
}

.validation-check-label {
    vertical-align: text-bottom;
    font-weight: normal;
}

.validation-check-label-disabled {
    vertical-align: text-bottom;
    color: rgba(0,0,0,0.26);
}

.validation-radio-container label{
    margin-bottom: 0px;
}