<!-- HEADER -->
<header id="headerDiv">
  <div id="headerLeft">
    <div id="toggleMenuBtn" class="iconBtn white" ng-click="appCtl.toggleSideBar()" tooltip-placement="right" uib-tooltip="Menu"
      tooltip-popup-delay='1000'>
      <i class="ion-navicon-round"></i>
    </div>

    <div id="toggleResMenuBtn" class="iconBtn white" ng-click="appCtl.toggleResSidebar()">
      <i class="ion-navicon-round"></i>
    </div>
  </div>
  <div style="display: inline;" ui-view="header">

  </div>
</header>
<!-- FIN -->

<!-- SIDEBAR NORMAL -->

  <nav ng-if="appCtl.desktopSize" id="sideBarDiv" class="sidebarContainer" ng-show="appCtl.showSideBar" ui-view="sidebar">
    <div>
      Este es el sidebar
    </div>
  </nav>


<!-- FIN -->

<!-- SIDEBAR RESPONSIVE -->
<div ng-if="appCtl.deviceSize" id="sideBarResDiv" ng-show="appCtl.showResSideBar" ui-view="sidebar">
  <div>
    Este es el responsive
  </div>
</div>
<!-- FIN -->

<!-- NOTIFICACIONES RESPONSIVE -->
<div id="notificacionesResDiv" ng-show="appCtl.showNotificaciones" ui-view="notificaciones">
  <!-- <div>
    Este es el responsive
  </div> -->
</div>
<!-- FIN -->

<!-- BODY -->
<section>
  <!-- Overlay para cuando se abre el menu en responsive -->
  <div id="centerOverlay" ng-show="appCtl.showResSideBar || appCtl.showNotificaciones" ng-click="appCtl.toggleAll()"></div>
  <!-- Fin -->
  <div id="notifDropdownAppend" style="height: 0px; width: 0px;"></div>
  <div id="centerDiv" class="centerDiv" ui-view="center">

    Este es el contenido
  </div>

</section>
<!-- FIN -->