@import url("../../../../style/root.css");

.footNotificaciones {
    height: 30px;
    border-color: #E0E0E0;
    padding: 7px;
    border-style: solid;
    border-width: 1px 0px 0px;
    text-align: center;
    background-color: #FAFAFA;
    font-size: 11.5px;
    box-shadow: var(--softBoxShadow);
    cursor: pointer;
    font-weight: 700;
}

.notificationsMenuContainer{
    height: 470px; 
    overflow-y: scroll;
}

@media only screen and (max-width: 960px){
    .notificationsMenuContainer{
        height: calc(var(--contentHeight) - 38px);
    }
    .footNotificaciones {
        padding:11px;
        font-size: 12px;
        height: 38px;
    }
    
}