<div ng-class="{'menuCollapsableAbierto' : ctrl.showSubmenu}">
    <menu-button label="{{ctrl.label}}" ng-click="ctrl.toggle()" icon="{{ctrl.icon}}" active="false" collapsable="true" showSubmenu="ctrl.showSubmenu"></menu-button>

    <div class="submenu" ng-show="ctrl.showSubmenu">
        <div ng-repeat="option in ctrl.options" class="submenuButton" ng-click="option.action()" ng-class="{'activeSection' : option.active}">
            {{option.label}}
        </div>
    </div>
</div>