
@import url("../../../../style/root.css");

.menuIconLabel {
    font-size: 13px;
    margin-left: 15px;
    vertical-align: text-top;
    font-weight: 700;
    line-height: 22px;
    color: rgba(0,0,0,.6);
}

.notificationIcon{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: white;
    line-height: 37px;
    font-size: 20px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: text-bottom;
}

.notificationItem {
    width: 100%;
    height: 62px;
    background-color: #fafafa59;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    padding-top: 12px;
}

.notificationItem:hover {
    background-color: #E0E0E0;
}

.notificationItem:active {
    background-color: #E0E0E0;
}

.error {
    background-color: var(--errorColor);
}

.success {
    background-color: var(--successColor);
}

.notificationContent {
    margin-left: 15px;
    display: inline-block;
    font-size: 12px;
}

.notificationDate {
    font-size: 11px;
    margin-top: 2px;
}

.notReaded {
    background-color: #EEEEEE;
}